<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="X1APEntities" connectionString="metadata=res://*/X1APModel.csdl|res://*/X1APModel.ssdl|res://*/X1APModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Password=&quot;&quot;/'],lp123&quot;&quot;;Persist Security Info=True;User ID=X1User;Initial Catalog=X1APDBQuestCreator;Data Source=10.129.50.53,1433\SQLEXPRESS&quot;" providerName="System.Data.EntityClient" />
  <add name="DMSShareEntities" connectionString="metadata=res://*/DMSShareModel.csdl|res://*/DMSShareModel.ssdl|res://*/DMSShareModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.129.50.53,1433;initial catalog=DMSShare;persist security info=True;user id=PMSUser;password=&quot;&quot;/'],lp123&quot;&quot;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>