<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--LibreOffice 待轉換 Word 路徑-->
    <!--Server 控管資料夾路徑-->
    <add key="ManagedFolderPath" value="C:\inetpub\DebugDMS\App_Data\Files\ServerManaged\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ConvertWordPath"
         value="C:\inetpub\QuestCreatorA\App_Data\Files\Words\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--LibreOffice 匯出 PDF 路徑-->
    <add key="ConvertPdfPath"
         value="C:\inetpub\QuestCreatorA\App_Data\Files\PDF\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UserFilePath" value="C:\inetpub\DebugDMS\App_Data\Files\UserFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />

  </appSettings>
  <connectionStrings>
    <add name="X1APEntities"
         connectionString="metadata=res://*/X1APModel.csdl|res://*/X1APModel.ssdl|res://*/X1APModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Password=&quot;&quot;/'],lp123&quot;&quot;;Persist Security Info=True;User ID=DMSUser;Initial Catalog=DebugDMS;Data Source=10.129.100.101&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:49162/LogService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILogService"
                contract="LogService.ILogService"
                name="BasicHttpBinding_ILogService"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://localhost:49162/AuthService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAuthService"
                contract="AuthService.IAuthService"
                name="BasicHttpBinding_IAuthService"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>