<?xml version="1.0" encoding="utf-8"?>

<!-- 如需使用 Web.config 轉換的詳細資料，請瀏覽 https://go.microsoft.com/fwlink/?LinkId=301874-->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在以下範例中， "SetAttributes" 轉換會變更 "connectionString"
    的值，以在 "Match" 定位器
    找到具有 "MyDB" 值的屬性時僅使用 "ReleaseSQLServer"。

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings >
    <!--LibreOffice 待轉換 Word 路徑-->
    <add key="ConvertWordPath" value="C:\inetpub\PMSFiles\Words\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--LibreOffice 匯出 PDF 路徑-->
    <add key="ConvertPdfPath" value="C:\inetpub\PMSFiles\PDFs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ConnectionStringTemplate" 
         value="metadata=res://*/X1APModel.csdl|res://*/X1APModel.ssdl|res://*/X1APModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Password=&quot;&quot;/'],lp123&quot;&quot;;Persist Security Info=True;User ID=X1User;Initial Catalog={0};Data Source=10.129.100.101,1433\\SQLEXPRESS&quot;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="DMSShareEntities"
      connectionString="metadata=res://*/DMSShareModel.csdl|res://*/DMSShareModel.ssdl|res://*/DMSShareModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.129.100.101,1433;initial catalog=DMSShare;persist security info=True;user id=DMSShareUser;password=&quot;&quot;/'],lp123&quot;&quot;;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      在下列範例中，"Replace" 轉換會取代
      Web.config 檔案的全部 <customErrors> 區段。
      注意，由於
      <system.web> 節點下只有一個 customErrors 區段，則無需使用 "xdt:Locator" 屬性。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
-->
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:49200/AuthService.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IAuthService" 
                contract="AuthService.IAuthService" 
                name="BasicHttpBinding_IAuthService"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>
